body{
    margin: 0%;
}
.infobar{
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid ;
    font-size: 19px;
    align-items: center;
}
.info{
    display: flex;
    gap: 50px;
    align-items: center;
}
.ysno{
    visibility: hidden;
}
#correct{
background-color: rgb(70, 202, 70);
border-radius: 7px;
padding: 10px;

}
#wrong{
background-color: rgb(202, 70, 70);
border-radius: 7px;
padding: 10px;

}
#qnum{
    font-size: 40px;
    margin: 20px;
}
.mainbody{
    display: flex;
    align-items: center;
}
#mainqs{
    margin:auto;
font-size: 40px;
}
.answerbutton{
    font-size: 50px;
}
.answers{
    text-align: center;
    margin: 20px;
    
}
.answerbutton{
    margin: 20px;
    background-color: #fff;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 4px 4px;
    transition: 0.3s;
    display: none;
}
.answerbutton:hover{
    transform: scale(1.15);

}
.answerbutton:active{
        transform: scale(1);

      transform: translate(4px, 4px);
      box-shadow: none;
    
}
#next{
font-size: 40px;
background-color: #000;
color: #fff;
padding: 10px;
border:none ;
border-radius: 20px;
transition: 0.3s;
float: right;
margin: 30px;
}
#next:hover{
    transform: scale(1.1);
}
#next:active{
    transform: scale(1);
}
#yourAnswer{
    font-size: larger;
}
#back{
    display: flex;
font-size: 40px;
background-color: #000;
color: #fff;
padding: 10px;
border:none ;
border-radius: 20px;
transition: 0.3s;
float: left;
margin: 30px;
display:none;
}
#back:hover{
    transform: scale(1.1);
}
#back:active{
    transform: scale(1);
}